{% extends 'tick/common.html' %}
{% block content %}

<h1>Gestione evento</h1>

<h2>Biglietti acquistati relativi all'evento "{{ticket}}"</h2>

<div class="container-fluid">
	<div class="col-md-5">
<table class="table table-sm">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Sigillo fiscale</th>
      </tr>
      {% for i in tickets %}
      <tr>
        <td>{{i.1}}</td>
        <td>{{i.3}}</td>
        <td>{{i.0}}</td>
        <td><a  style = " color: #4989c9" href="">Invalida Biglietto</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    </div>
</div>


{% endblock %}