{% extends 'tick/common.html' %}
{% block content %}

<h2>Biglietti acquistati relativi all'evento "{{name_event}}"</h2>

<div class="container-fluid" >
	<div class="col-md-5">
<table class="table table-sm">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Valido</th>
        <th scope="col">Sigillo fiscale</th>
      </tr>
      {% for i in tickets %}
      <tr>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.0}}</td>
        {% if i.2 %}
        <td><a  style = " color: #4989c9" href="{% url 'refund' i.3 id_evento id_user %}">Refund</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

    </div>
</div>


{% endblock %}